################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.lock
/.vs
bin/
obj/
/Parker/.vs/Parker/v15/Server/sqlite3
/Parker/.vs/Parker/v15/sqlite3
/.vs/
/bin/
/obj/
/Debug/
/Parker/Parker/Photos/Eminescu60
/Parker/Parker/bin
/Parker/Parker/obj/Debug
/Parker/RecordingDeviceSimulator/bin/Debug
/Parker/RecordingDeviceSimulator/obj/Debug
