@model Parker.Models.HomeViewModel

<br />


@Html.DropDownListFor(model => model.Sensors.First(m => m.IsSelected).Url, Parker.Controllers.HomeController.GetSensorsDropDown(Model.Sensors), new { @id = "sensorselector", @class = "form-control" })

<h3>Vacancy: <p id="vacant" class="text-success"></p> of <p id="all" class="text-primary"></p></h3>

<script>
    window.sensorData = @Html.Raw(Json.Encode(ViewBag.Items));



</script>

<br />

<img id="sensorimg" width="100%" class="img-responsive">